.trustline
  .amount
    | {{trustline.balance}}
    | 
    span.code {{trustline.assetcode}}
  p issuer: {{trustline.issuer}}
  a.issuer(core-address="trustline.issuer")
  .limit Limit: {{trustline.tlimit}}
  .actions
    a(ng-click="trustline.manage({limit: 0})") Cancel Trust