.selectable_trustline(ng-class="{selected: trustline==$parent.selectedTrustline}" ng-repeat="trustline in trustlines" ng-click="$parent.selectedTrustline=trustline")
  span.assetcode {{trustline.assetcode}}
  span.issuer(core-address="trustline.issuer")
  span.owned(ng-show="trustline.issuer != currentAccount._id") ({{trustline.balance / 10000000}} owned)
  span.owned(ng-hide="trustline.issuer != currentAccount._id") (unlimited owned)
//- span Selected: {{selectedTrustline}}
