h3 Account Info

h4 Acceptable Assets
.assets
  .asset(ng-repeat="assetcode in account.assetcodes")
    
core-trustline(ng-if="account" issuer="account._id" assetcode="'derp'")

h4 Transactions

.transactions
  .transaction(ng-repeat="tx in transactions")
    .operation(ng-repeat="op in tx.body.operations")
      p {{op | displayOperation}}