h3 Account Info

h4 Assets issued by this address
.assets
  .asset(ng-repeat="assetcode in account.assetcodes")
    
    core-trustline(issuer="account._id" assetcode="assetcode")

h4 Transactions

.transactions
  .transaction(ng-repeat="tx in transactions")
    .operation(ng-repeat="op in tx.body.operations")
      p {{op}}
