#top_bar
  #logo Open Core
  meteor-include(src="loginArea")
h1 Welcome to Open Core!
p Currently connected to Stellar-Core Testnet
p You can <a href="http://github.com/buhrmi/open-core"> fork me on GitHub</a> or <a href="http://gilt.jp">shop at GILT</a>!
