div(ng-include="'templates/topbar.html'")
div(ng-if="currentUser" ng-include="'templates/userbar.html'")
div(ng-include="'templates/sidebar.html'")

#main
  div(ng-include="'templates/navbar.html'")

  #content(ng-include="resourceTemplate")
    