h3 My Accounts
p This is a list of accounts that are either federated by this server or you have proven ownership.

.accounts.own
  .account(ng-repeat="account in userAccounts")
    .address Address: {{account._id}}
    .sequence Sequence: {{account.pg.seqnum}}
    .name
      | Name:
      input(ng-model="account.name")
    .seed
      | Secret Seed:
      input(ng-model="account.seed")
      | (optional: you can store your secret seed on this server if you want your account to be federated. Only use this if your connection is secure.)
      span(ng-hide="account.seedIsValid()") Invalid seed.
    .assets
      h4 Assets
      .asset
    .trustlines.given
      h4 Trustlines
      .trustline(ng-repeat="trustline in account.getGivenTrustlines()")
        //- .issuer Issuer: {{trustline.issuer}}
        .code Asset Code: {{trustline.assetcode}}
        //- .limit Limit: {{trustline.tlimit}}
        //- .balance Balance: {{trustline.balance}}
        //- .remove
        //-   a(ng-click="account.performTransaction()") Click here to remove this trust
    .make_transaction
      //- h4 Make Payment Transaction
      //- input(ng-model="tx.destination" placeholder="Destination")
      //- input(ng-model="tx.amount" placeholder="Amount")
      //- button(ng-click="account.performTransaction(tx)") Send
      h4(ng-init="trustTx.type='manageTrust'") Manage Trust
      input(ng-model="trustTx.asset.issuer" placeholder="Issuer")
      input(ng-model="trustTx.asset.code" placeholder="Code")
      input(ng-model="trustTx.limit" placeholder="limit")
      button(ng-click="account.performTransaction(trustTx)") Send TX
      h4(ng-init="tx.type='trust'") Create Offer


h4 Add Account

input(ng-model="newAccount._id" placeholder="Address")
input(ng-model="newAccount.name" placeholder="Account Name")

h5 Verify Address Ownership
p EITHER provide the secret seed (only do this if you trust this website)
input(ng-model="newAccount.seed" placeholder="Secret Seed" ng-change="newAccount.selfSign()")
span(ng-hide="newAccount.seedIsValid()") Seed is NOT valid!
p OR sign the following text and copy the result into the 'signature' field.
pre {{currentUser._id}}
input(ng-model="newAccount.verification" placeholder="Signature")
button(ng-hide="newAccount.isValid()" disabled) Add Account
button(ng-show="newAccount.isValid()" ng-click="saveAccount(newAccount)") Add Account
span(ng-hide="newAccount.isValid()") Signature is NOT valid!

//- h3 Make signature
//- p You can use area to create a signature.
//- input(ng-model="object.data" placeholder="Text" ng-init="object.data=currentUser._id")
//- input(ng-model="object.seed" placeholder="Secret Seed")
//- p Signature: {{object | sign}}
