h3 {{currentAccount.name}}
p {{currentAccount._id}}
 
.trustlines
  h4(ng-init="trustTx.type='manageTrust'") Balances
  core-trustline(ng-repeat="trustline in trustlines")
input( ng-model="trustTx.asset.issuer" placeholder="Issuer")
input(ng-model="trustTx.asset.code" placeholder="Code")
input(ng-model="trustTx.limit" placeholder="Limit")
button(ng-click="currentAccount.performTransaction(trustTx)") Send TX

.offers
  h4(ng-init="offerTx.type='manageOffer'") Offers
  .offer(ng-repeat="offer in offers")
    .want Want: {{offer.buyingissuer}}/{{offer.buyingassetcode}}
    .have Have: {{offer.sellingissuer}}/{{offer.sellingassetcode}}
    .amount Amount: {{offer.amount}}
    .price Price: {{offer.price / 10000000}}
    .remove
       a(ng-click="offer.manage({amount: '0'})") Cancel Offer
input(ng-model="offerTx.want.issuer" placeholder="Want Address")
input(ng-model="offerTx.want.code" placeholder="Want Code")
input(ng-model="offerTx.have.issuer" placeholder="Have Address")
input(ng-model="offerTx.have.code" placeholder="Have Code")
input(ng-model="offerTx.amount" placeholder="Amount")
input(ng-model="offerTx.price" placeholder="Price")
button(ng-click="currentAccount.performTransaction(offerTx)") Send TX

.payments
  h4(ng-init="paymentTx.type='payment'") Send Credits
  input(ng-model="paymentTx.destination" placeholder="Destination")
  input(ng-model="paymentTx.asset.issuer" placeholder="Issuer")
  input(ng-model="paymentTx.asset.code" placeholder="Code")
  input(ng-model="paymentTx.amount" placeholder="Amount")
  button(ng-click="currentAccount.performTransaction(paymentTx)") Send TX

.core_config
  h4 Core Settings
  | Home Domain / Acccount Name:
  input(ng-model="currentAccount.name")
  button(ng-click="currentAccount.performTransaction({type:'options', homeDomain:currentAccount.name})") Send TX
  
.settings
  h4 Federation Settings
  | Secret Seed (optional):
  input(ng-model="currentAccount.seed")
  span(ng-hide="currentAccount.seedIsValid()") Invalid seed.
  
  h5 Asset Codes
  .assetcode(ng-repeat="assetcode in currentAccount.assetcodes")
    {{assetcode}} <a ng-click="currentAccount.removeAssetCode(assetcode)">Remove</a>
  input(ng-model="newAssetCode")
  button(ng-click="currentAccount.addAssetCode(newAssetCode);newAssetCode=''") Add
//- h3 Make signature
//- p You can use area to create a signature.
//- input(ng-model="object.data" placeholder="Text" ng-init="object.data=currentUser._id")
//- input(ng-model="object.seed" placeholder="Secret Seed")
//- p Signature: {{object | sign}}
