h3 Welcome to {{appName}}.

p This web application is <a href="http://github.com/buhrmi/open-core"> open source.</a>

h3 You might be interested in these assets
p Sign in and begin trading!

.featured_assets
  core-trustline(issuer="asset.issuer" assetcode="asset.assetcode" ng-repeat="asset in featuredAssets")




h4 Transaction Ticker
.transactions
  core-transaction(ng-repeat="transaction in lastTransactions")

h4 Active Peers
div(ng-repeat="peer in peers")
  p Address: {{peer.ip}}:{{peer.port}}
