#userbar
  a.switch(ng-href="/mycore/accounts") Switch to a different Address
  div.address(ng-show="currentAccount._id") {{currentAccount.name}} / {{currentAccount._id}}
  div.address(ng-hide="currentAccount._id") You don't have an Address. <a ng-href="/mycore/accounts">Add an Address</a>.
