#userbar
  a.switch(ng-href="/mycore/accounts") Switch to a different Address
  div.address(ng-show="currentAccount") {{currentAccount.name}} / {{currentAccount._id}}
  div.address(ng-hide="currentAccount") You don't have an Address