$brandColor: #438EB9;
$sidebarColor: #f2f2f2;
$sidebarWidth: 200px;
$topbarHeight: 36px;
$myCoreColor: #2e8965;

#topbar {
  background-color: $brandColor;
  color: white;
  height: $topbarHeight;
  .nav {
    color: white;
  }
  #logo {
    padding: 6px 12px;
    float: left;
  }
  .nav {
    float: right;
    height: $topbarHeight;
    display: block;
    padding: 6px 14px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    &.mycore {
      background-color: $myCoreColor;
    }
  }
  #login-buttons {
    margin-right: 14px;
    float: right;
    position: relative;
    .login-link-text {
      height: $topbarHeight;
      padding: 6px 14px;
      display: block;
      background-color: lighten($brandColor, 10);
    }
    #login-dropdown-list {
      color: black;
      position: absolute;
      right: 0;
      padding: 16px;
      background-color: rgba($brandColor, 0.3);
    }
  }
}

#sidebar {
  padding: 6px 12px;
  background-color: $sidebarColor;
  border-right: 1px solid darken($sidebarColor, 22);
  width: $sidebarWidth;
  position: absolute;
  height: 100%;
}

#navbar {
  padding: 6px 12px;
  background-color: $sidebarColor;
  border-bottom: 1px solid darken($sidebarColor, 8);
}

#main {
  margin-left: $sidebarWidth;
}

#content {
  padding: 6px 12px;
  h3:not(:first-child) {
    margin-top: 22px;
  }
  h4 {
    margin-top: 18px;
  }
  h5 {
    margin-top: 14px;
  }
}

.accounts.own {
  .account {
    padding: 12px;
    background: #efefef;
    border: 1px solid #cecece;
  }
}
