@import "./globals.scss";

#topbar {
  background-color: $brandColor;
  color: white;
  height: $topbarHeight;
  .nav {
    color: white;
  }
  #logo {
    padding: 6px 12px;
    float: left;
  }
  .nav {
    float: right;
    height: $topbarHeight;
    display: block;
    padding: 6px 14px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    &.mycore {
      background-color: $myCoreColor;
    }
  }
  #login-buttons {
    margin-right: 14px;
    float: right;
    position: relative;
    border-right: 1px solid white;
    .login-link-text {
      height: $topbarHeight;
      padding: 6px 14px;
      display: block;
      background-color: lighten($brandColor, 10);
    }
    #login-dropdown-list {
      color: black;
      position: absolute;
      right: 0;
      padding: 16px;
      background-color: rgba($brandColor, 0.3);
    }
  }
}
#userbar {
  background-color: lighten($brandColor, 10);
  color: white;
  padding: 6px 14px;
  .switch {
    float: right;
    color: white;
  }
}

#sidebar {
  padding: 6px 12px;
  background-color: $sidebarColor;
  border-right: 1px solid darken($sidebarColor, 22);
  width: $sidebarWidth;
  position: absolute;
  height: 100%;
}

#navbar {
  padding: 6px 12px;
  background-color: $sidebarColor;
  border-bottom: 1px solid darken($sidebarColor, 8);
}

#main {
  margin-left: $sidebarWidth;
}

#content {
  padding: 6px 12px;
  h3:not(:first-child) {
    margin-top: 22px;
  }
  h4 {
    margin-top: 18px;
  }
  h5 {
    margin-top: 14px;
  }
}

.accounts {
  .account {
    padding: 12px;
    background: #efefef;
    border: 1px solid #cecece;
  }
}

.trustline {
  display: inline-block;
  border: 1px solid lighten($brandColor, 20);
  border-radius: 5px;

  padding: 6px 14px;
  position: relative;
  .issuer {
    font-size: 0.9em;
    margin-left: 8px;
  }
  .amount {

  }
  .code {
    font-size: 1.3em;
  }
  .balance {
    font-size: 1.3em;
  }
  margin-right: 6px;
  margin-bottom: 6px;
}

.loading_overlay {
  display: none;
  position: absolute;
  text-align: center;
  color: $brandColor;
  line-height: 26px;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(lighten($brandColor, 40), 0.9);
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.loading > .loading_overlay {
  display: block;
}

.core_address {
  &:before {
    font-family: FontAwesome;
    content: "\f02b\00a0";
  }
}

input {
  border: 1px solid lighten($brandColor, 20);
  padding: 4px 8px;
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2), 0px 0px 3px 0px rgba($brandColor, 0.9);
  }
}

button {
  background: white;
  border: 1px solid lighten($brandColor, 20);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  color: $brandColor;
  &:hover {
    background: lighten($brandColor, 40);
  }
  &.tx:before {
    font-family: FontAwesome;
    content: "\f1d8";
    margin-right: 6px;
  }
  &.options:before {
    font-family: FontAwesome;
    content: "\f013";
  }
}

.modalwrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  .modalbox {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    border-radius: 6px;
    border: 1px solid $brandColor;
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
    min-width: 400px;
    > .title {
      padding: 6px 12px;
      border-bottom: 1px solid $brandColor;
    }
    > .body {
      padding: 10px 12px;
    }
    > .actions {
      padding: 6px 12px;
      border-top: 1px solid $brandColor;
      text-align: right;
    }
    .trustline {
      button.tx, button.options {
        display: none;
      }
    }
  }
}